doctype html
html
  head
    title Ben Pang
    link(rel='stylesheet' href='index.css')
  body
    pre#t.
      <b>Molarmanful's site</b> - created with love by <a href='https://github.com/molarmanful' target=_blank>Ben Pang</a>.
      Type 'help' for a list of commands.


    pre#h(style='display:none').
      <b><u>COMMANDS</u></b>
      help          display this help text
      clear         clear screen
      test          does absolutely nothing
      echo TEXT     output text
      repo NAME     go to one of my github repos
    script(src='index.js')
