doctype html
html
  head
    title Ben Pang
    meta(name='viewport' content='width=device-width,initial-scale=1,user-scalable=no')
    link(rel='stylesheet' href='index.css')
    style body{opacity:0;}
    noscript
      style body{opacity:1;}
  body
    .B.c
      .b.h2.w1(style='font-size:20vw') HELLO
      .b.h2.w1(style='font-size:20vw') WORLD
    .d
    .B.c
      .b.h2.w1(style='font-size:20vw') I AM
      .b.h2.w1.bd(style='font-size:10vw') BEN PANG
    .d
    .B.c
      .b.h4.w1(style='font-size:10vw') I DO
      .b.h2.w1.bd(style='font-size:20vw;color:#ff6961') CRAZY
      .b.h4.w1(style='font-size:10vw') EXPERIMENTS
    .d
    .B.c
      .b.h4.w1.bd(style='font-size:10vw') SOME
      .b.h4.w1.bd(style='font-size:10vw') STUFF I DO
      .b.h8.w4(style='font-size:4vw') programming
      .b.h8.w4(style='font-size:4vw') art/design
      .b.h8.w4(style='font-size:4vw') music
      .b.h8.w4(style='font-size:4vw') speedcubing
      .b.h8.w4(style='font-size:4vw') wizardry
    .d
    .B.c
      .b.h2.w1(style='font-size:10vw') SOME LINKS
      .b.h8.w4(style='font-size:4vw'): a(href='https://github.com/molarmanful' target='_blank' style='color:#222') github
      .b.h8.w4(style='font-size:4vw'): a(href='https://reddit.com/u/molarmanful' target='_blank' style='color:#ff6961') reddit
      .b.h8.w4(style='font-size:4vw'): a(href='https://twitter.com/molarmanful' target='_blank' style='color:#add8e6') twitter
      .b.h8.w4(style='font-size:4vw'): a(href='https://facebook.com/Array.prototype.map' target='_blank' style='color:#003366') facebook
    .d

    script.
      onload=function(){
        document.body.className+=' fadein'
      }
      onbeforeunload=function(){scrollTo(0,0)}