mixin sd
  .b.c.sd(style='margin-top:auto;opacity:0.5')
    .b.end.v1 scroll down
    .b.start.v1 &#9660;
mixin su
  .b.c.su(style='margin-bottom:auto;opacity:0.5')
    .b.start.v1 &#9650;
    .b.end.v1 scroll up
mixin sb
  .b.c(style='margin-bottom:auto;opacity:0.5')
    .b.v1 &nbsp;
    .b.v1 &nbsp;

doctype html
html
  head
    title Ben Pang
    meta(charset='utf8')
    meta(name='viewport' content='width=device-width,initial-scale=1,user-scalable=no')
    link(rel='stylesheet' href='index.css')
  body.b0
    .B.c(style='color:#43c59e')
      +sb
      .b.c.lpV
        .b.bd.end.v5.l(style='color:#3dfaff') HELLO
        .b.start.v5 WORLD
      +sd
    .d
    .B.c(style='color:#b3dec1')
      +su
      .b.c.lpV
        .b.end.v10.l I AM
        .b.bd.start.v5(style='color:#e5fcf5') BEN PANG
      +sd
    .d
    .B.c(style='color:#7a6563')
      +su
      .b.c.lpV
        .b.end.v5 I DO
        .b.bd.v10.lp(style='color:#e56399') CRAZY
        .b.start.v5 EXPERIMENTS
      +sd
    .d
    .B.c(style='color:#ffbf46')
      +su
      .b.c.lpV
        .b.bd.end.v5.l(style='color:#8acb88') STUFF I DO
        .b.start.c.lv(style='padding-top:10px;padding-bottom:10px')
          .b.v2 programming
          .b.v2 art/design
          .b.v2 music
          .b.v2 speedcubing
          .b.v2 wizardry
      +sd
    .d
    .B.c(style='color:#333')
      +su
      .b.c.lpV
        .b.bd.end.v5.l SOME LINKS
        .b.start.c.lv(style='padding-top:10px;padding-bottom:10px')
          .b.v2: a.lh#l0(href='https://github.com/molarmanful' target='_blank') github
          .b.v2: a.lh#l1(href='https://reddit.com/u/molarmanful' target='_blank') reddit
          .b.v2: a.lh#l2(href='https://twitter.com/molarmanful' target='_blank') twitter
          .b.v2: a.lh#l3(href='https://www.linkedin.com/in/molarmanful/' target='_blank') linkedin
      +sb
    
    #side.v1.
      ■<br>□<br>□<br>□<br>□
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/scrollify/1.0.19/jquery.scrollify.min.js')
    script.
      $(function(){
        cl=function(x){
          [
            ['.l','L'],
            ['.lv','Lv'],
            ['.lp','Lp'],
            ['.lpv','Lpv'],
            ['.lpV','LpV']
          ].map(function(a){$('.B').eq(x).find(a[0]).addClass(a[1])})
        }
        $('body').fadeIn(1000,function(){
          $.scrollify({
            section:'.B',
            updateSection:!1,
            setHeights:!1,
            scrollSpeed:500,
            updateHash:!1,
            scrollbars:!1,
            before:function(x){
              $('body').removeClass().addClass('b'+x)
              $('.L,.Lv,.Lp,.Lpv,.LpV').removeClass('L Lv Lp Lpv LpV')
              ord='□□□□□'.split('')
              ord[x]='■'
              $('#side').css({
                color:$('.B').eq(x).css('color')
              }).html(ord.join('<br>'))
            },
            after:cl
          })
          cl(0)
          $('#side').css('color',$('.B').eq(0).css('color'))
        })
        $('.sd').click(function(){
          $.scrollify.next()
        })
        $('.su').click(function(){
          $.scrollify.previous()
        })
        $(window).on('beforeunload',function(){scrollTo(0,0)})
      })