doctype html
html
  head

    title Ben Pang

    meta(charset='utf8')
    meta(name='viewport' content='width=device-width,initial-scale=1,user-scalable=no')
    meta(name='description' content='Personal website of Ben Pang.')

    link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Overpass+Mono&display=swap')
    link(rel='stylesheet' href='./css/style.css')

    link(rel='apple-touch-icon' sizes='180x180' href='./media/apple-touch-icon.png')
    link(rel='icon' type='image/png' sizes='32x32' href='./media/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='16x16' href='./media/favicon-16x16.png')
    link(rel='manifest' href='./media/site.webmanifest')


  body

    #app.container(:class='show && "show"')

      win-drag#root.main
        template(v-slot:title) Ben Pang > {{ tabs[active] }}
        .body

          .side
            a(v-for='name, id in tabs' :name='id' @click='sideClick') {{ name }}

          root-content#home(:active='active')
            p#hello {{ hello }}

          root-content#proj(:active='active')
            mason-grid
              each i in fs.readdirSync('./media/projects')
                mason-grid-item
                  img(src='./media/projects/' + i)

          root-content#art(:active='active')
            mason-grid
              each i in fs.readdirSync('./media/art')
                mason-grid-item
                  art-prev(src='./media/art/' + i)

          root-content#links(:active='active')

      win-art(v-for='data, id in winarts' :id='id' :data='data')


    script(src='./js/vue.min.js')

    script(src='./js/masonry.pkgd.min.js')
    script(src='./js/vue-masonry-plugin-window.js')

    script(src='./js/bus.js')

    script(src='./js/components/win.js')
    script(src='./js/components/mason.js')
    script(src='./js/components/misc.js')

    script(src='./js/main.js')
