body {
  background-color: #001200;
  color: #32cd32;
  font-family: monospace;
  text-shadow: 0 0 10px #0f0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
}
p {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 8ch;
}
a {
  color: #32cd32;
  text-decoration: underline;
}
