@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,700')

html,body
  width 100%
  height 100%
  margin 0
  font-family Space Mono
  color #aaa
  background #fff
.d
  margin-top 10%
  margin-bottom 10%
  border-bottom 1px #ccc solid
.B
  display flex
  align-items center
  justify-content center
  width 100%
  height 100%
.b
  display flex
  align-items center
  justify-content center
.h1
  min-height 100%
.h2
  min-height 50%
.h4
  min-height 25%
.h8
  min-height 12.5%
.w1
  min-width 100%
.w2
  min-width 50%
.w4
  min-width 25%
.w8
  min-width 12.5%
.r
  flex-direction row
.c
  flex-direction column
.bd
  font-weight bold
  color #333
a
  text-decoration underline