include base.pug

+base()
  +prose()
    +heading() THE 3D ANIM COLLECTION
    +subheading() Blurring the lines between real and unreal, one render at a time. Rendered in Cinema 4D + Redshift.

  +imr('w7IX9su')
  +imr('oYMfkuN')
  +imr('EoKZMzB')
  +imr('rB07cpT')
  +imr('I3wS09x')
  +imr('m5pFFvV')
  +imr('ok9FG1N')
  +imr('2qvjNe0')
  +imr('BAQ3pIi')
  +imr('6MSzqYB')
  +imr('jz0OCdP')
  +imr('3yuhuE2')
  +imr('fGkjCFo')
  +imr('yzgBmWX')
  +imr('xdyqFxs')
  +imr('3n6bmp5')
  +imr('TTzBTCo')