include base.pug

+base()
  +prose()
    +heading() THE 3D STILL COLLECTION
    +subheading() Optical oddities that bend the rules of what photorealism looks like. Rendered in Cinema 4D + Redshift.

  +img('dysmorphicdream', require(TINY('dysmorphicdream')), require(ART('dysmorphicdream')))
  +img('atlas', require(TINY('atlas')), require(ART('atlas')))
  +img('laylie', require(TINY('laylie')), require(ART('laylie')))
  +img('crazyplantman', require(TINY('crazyplantman')), require(ART('crazyplantman')))
  +img('barren', require(TINY('barren')), require(ART('barren')))
  +img('cataflow', require(TINY('cataflow')), require(ART('cataflow')))
  +img('denial', require(TINY('denial')), require(ART('denial')))
  +img('sittingflowers', require(TINY('sittingflowers')), require(ART('sittingflowers')))
  +img('wiredup', require(TINY('wiredup')), require(ART('wiredup')))
  +img('drapes', require(TINY('drapes')), require(ART('drapes')))
  +img('4arms', require(TINY('4arms')), require(ART('4arms')))
  +img('exposedskull', require(TINY('exposedskull')), require(ART('exposedskull')))
  +img('givingup', require(TINY('givingup')), require(ART('givingup')))
  +img('greebshell', require(TINY('greebshell')), require(ART('greebshell')))
  +img('handman', require(TINY('handman')), require(ART('handman')))
  +img('lineface', require(TINY('lineface')), require(ART('lineface')))
  +img('burninghead', require(TINY('burninghead')), require(ART('burninghead')))
  +img('masochist', require(TINY('masochist')), require(ART('masochist')))
  +img('allovertheplace', require(TINY('allovertheplace')), require(ART('allovertheplace')))
  +img('room', require(TINY('room')), require(ART('room')))
  +img('gargoyle', require(TINY('gargoyle')), require(ART('gargoyle')))
  +img('dragonwings', require(TINY('dragonwings')), require(ART('dragonwings')))
  +img('execution', require(TINY('execution')), require(ART('execution')))
  +img('facecut', require(TINY('facecut')), require(ART('facecut')))
  +img('fractureface', require(TINY('fractureface')), require(ART('fractureface')))
  +img('handgoggles', require(TINY('handgoggles')), require(ART('handgoggles')))
  +img('insectoid', require(TINY('insectoid')), require(ART('insectoid')))
  +img('lakeside', require(TINY('lakeside')), require(ART('lakeside')))
  +img('wireskull', require(TINY('wireskull')), require(ART('wireskull')))
  +img('ldude', require(TINY('ldude')), require(ART('ldude')))
  +img('lilemperor', require(TINY('lilemperor')), require(ART('lilemperor')))
  +img('multiarm', require(TINY('multiarm')), require(ART('multiarm')))
  +img('oceanthoughts', require(TINY('oceanthoughts')), require(ART('oceanthoughts')))
  +img('sirensong', require(TINY('sirensong')), require(ART('sirensong')))
  +img('smoothvolumedude', require(TINY('smoothvolumedude')), require(ART('smoothvolumedude')))
  +img('tongueplants', require(TINY('tongueplants')), require(ART('tongueplants')))
  +img('adrift', require(TINY('adrift')), require(ART('adrift')))
  +img('bipolar', require(TINY('bipolar')), require(ART('bipolar')))
  +img('junji', require(TINY('junji')), require(ART('junji')))
  +img('mogrify', require(TINY('mogrify')), require(ART('mogrify')))
  +img('nordic', require(TINY('nordic')), require(ART('nordic')))
  +img('palmface', require(TINY('palmface')), require(ART('palmface')))
  +img('piety', require(TINY('piety')), require(ART('piety')))
  +img('retromachine', require(TINY('retromachine')), require(ART('retromachine')))
  +img('ceilingman', require(TINY('ceilingman')), require(ART('ceilingman')))
  +img('holedman', require(TINY('holedman')), require(ART('holedman')))
  +img('metrails', require(TINY('metrails')), require(ART('metrails')))
  +img('mirrors', require(TINY('mirrors')), require(ART('mirrors')))
  +img('vomit', require(TINY('vomit')), require(ART('vomit')))
  +img('burninghand', require(TINY('burninghand')), require(ART('burninghand')))
  +img('hearthole', require(TINY('hearthole')), require(ART('hearthole')))
  +img('insomnia3d', require(TINY('insomnia3d')), require(ART('insomnia3d')))
  +img('trout', require(TINY('trout')), require(ART('trout')))