include /items/template.pug

+set('title') UNTITLED (HAND)
+set('info') Acrylic, 2018
+set('desc') At the time, I had no idea how to paint in acrylics, but I decided to mess around with some paints I had found lying around.
+layout('acrylichand')
