include base.pug

+base()
  +prose()
    +heading() AirPod Addiction
    +subheading() 2019 - made in collaboration with Ganjina Oripova and Fay Zhuang. Website for a silent short film made in 30 minutes which poked fun at Apple's AirPods.
    +text() #[a(href='http://bp1574.nyuadim.com/30mff' target='_blank') Website] (best viewed on desktop)

    +media('30mff').mt-8
