include base.pug

+base()
  +prose()
    +heading() The Black & White Collection
    +subheading() Monochrome artwork drawn with a mouse in Krita/MS Paint. Studies of contrast, shading, and value blending techniques.

  +art('hand')
  +art('valueblending')
  +art('blackpanther')
  +art('scream')
  +art('dehumanized')
  +art('scrawnyman')
  +art('mood')
  +old('walter')
  +old('yee')
