include base.pug

+base()
  +prose()
    +heading() The Cell Collection
    +subheading() Zero-player games with squares that live many, many lives.

  +img('3species', require(MTINY('3species')), require(MEDIA('3species')))
  +prose().p-0.pb-16
    +text().mt-0 3-Species Ecosystem - #[a(href='https://bennyboy.tech/RobotaPsyche/midterm' target='_blank') Website]
      |, #[a(href='https://github.com/molarmanful/RobotaPsyche/tree/main/midterm' target='_blank') Source]

  +img('rainbow', require(MTINY('rainbow')), require(MEDIA('rainbow')))
  +prose().p-0.pb-16
    +text().mt-0 Reddit Rainbow (feat. Adham Chakohi) - #[a(href='https://bennyboy.tech/rainbow' target='_blank') Website]
      |, #[a(href='https://github.com/molarmanful/rainbow' target='_blank') Source]

  +img('waterworks', require(MTINY('waterworks')), require(MEDIA('waterworks')))
  +prose().p-0.pb-16
    +text().mt-0 Waterworks - #[a(href='https://codepen.io/molarmanful/full/XzbwpP' target='_blank') Website]

  +img('symmatrix', require(MTINY('symmatrix')), require(MEDIA('symmatrix')))
  +prose().p-0.pb-16
    +text().mt-0 Symmatrix - #[a(href='https://bennyboy.tech/symmatrix' target='_blank') Website]
      |, #[a(href='https://github.com/molarmanful/symmatrix' target='_blank') Source]
