include base.pug

+base()
  +prose()
    +heading() The Cell Collection
    +subheading() Zero-player games with squares that live many, many lives.

  +media('rainbow.png')
  +prose().p-0.pb-16
    +text().mt-0 Reddit Rainbow (feat. Adham Chakohi) - #[a(href='https://bennyboy.tech/rainbow' target='_blank') Website]
      |, #[a(href='https://github.com/molarmanful/rainbow' target='_blank') Source]

  +media('waterworks.png')
  +prose().p-0.pb-16
    +text().mt-0 Waterworks - #[a(href='https://codepen.io/molarmanful/full/XzbwpP' target='_blank') Website]

  +media('symmatrix.png')
  +prose().p-0.pb-16
    +text().mt-0 Symmatrix - #[a(href='https://bennyboy.tech/symmatrix' target='_blank') Website]
      |, #[a(href='https://github.com/molarmanful/symmatrix' target='_blank') Source]
