include template.pug

+set('custom'): iframe.m-auto.w-full.h-full.object-contain(src="https://www.youtube.com/embed/w4ff_J_T12k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
+set('title') Entanglement
+set('info') OpenFrameworks, 2021
+set('desc') In this piece, I was inspired by particle accelerator graphics. I treated this project as a way to play around with Bezier curves in generative art.
  p.mt-8: a.animate-colors(href='https://github.com/molarmanful/entanglement' target='_blank') Source Code
+layout('entanglement')
