include base.pug

+base()
  +prose()
    +heading() Performing Identity
    +subheading() 2020 - made in collaboration with Li Cheng and Amy Kang. A concept for a virtual exhibition space that displays contemporary Asian art.
    +text() #[a(href='https://bennyboy.tech/exhibit' target='_blank') Website] (best viewed with a physical keyboard)
      |<br>#[a(href='https://github.com/molarmanful/exhibit' target='_blank') Source]

    +media('exhibit.png').mt-8
    +media('exhibit_desc.png').mt-8
