include base.pug

+base()
  +prose()
    +heading() Performing Identity
    +subheading() 2020 - made in collaboration with Li Cheng and Amy Kang. A concept for a virtual exhibition space that displays contemporary Asian art.
    +text() #[a(href='https://bennyboy.tech/exhibit' target='_blank') Website] (best viewed with a physical keyboard)
      |<br>#[a(href='https://github.com/molarmanful/exhibit' target='_blank') Source]

    +img('exhibit', require(MTINY('exhibit')), require(MEDIA('exhibit'))).mt-8
    +img('exhibit_desc', require(MTINY('exhibit_desc')), require(MEDIA('exhibit_desc'))).mt-8
