include template.pug

+set('custom'): iframe.m-auto.w-full.h-full.object-contain(src="https://www.youtube.com/embed/5kqdi0ExSMo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
+set('title') Family Dinner
+set('info') Krita + After Effects, 2021
+set('desc') I wanted to try learning After Effects and creating more dynamic pieces involving sound. This is the result of my first forays.
+layout('family_dinner')
