include base.pug

+base()
  +prose()
    +heading() Infinite Gene Ray
    +subheading() 2021. A procedurally-generated website based on Gene Ray's Time Cube.
    +text() #[a(href='https://bennyboy.tech/infinite-gene-ray' target='_blank') Website]
      |<br>#[a(href='https://github.com/molarmanful/infinite-gene-ray' target='_blank') Source]
      |<br>#[a(href='https://timecube.2enp.com' target='_blank') Inspiration]

    +media('generay.png').mt-8
