include base.pug

+base()
  +prose()
    +heading() The Generative Collection
    +subheading() From code blossoms art. Works created with autonomous systems to create an infinite variety of expressions.

  +media('nihilism.png')
  +prose().p-0.pb-16
    +text().mt-0 Nihilism - #[a(href='https://colab.research.google.com/drive/1DjUw9jp47cCAorEm0pN2cj4_1ksG8hBS?usp=sharing' target='_blank') Source]

  +vid()
    iframe.lazy(data-src="https://www.youtube.com/embed/w4ff_J_T12k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
  +prose().p-0.pb-16
    +text() Entanglement - #[a(href='https://github.com/molarmanful/entanglement' target='_blank') Source]

  +vid()
    iframe.lazy(data-src="https://www.youtube.com/embed/f_mWTjxUbqk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
  +prose().p-0.pb-16
    +text() Joy of Abstract Art with Rob Boss - #[a(href='https://github.com/molarmanful/rob-boss' target='_blank') Source]

  +media('cycle.gif')
  +prose().p-0.pb-16
    +text().mt-0 Bezier Pulse - #[a(href='https://github.com/molarmanful/bezier-pulse' target='_blank') Source]
