include /items/template.pug

+set('title') Untitled (Hand 2)
+set('info') Hexels, 2018
+set('desc') Hands are always challenging to illustrate. This was the result of a more "realistic" approach to Hexels art.
+layout('hand2')
