include base.pug

+base()
  +prose()
    +heading() Idea
    +subheading() 2019 - made in collaboration with Jana Počuchová. An interactive webcomic about creative block and ideation.
    +text() #[a(href='http://www.bp1574.nyuadim.com/comic/' target='_blank') Website]

    +image()(alt='generay' data-src=require(`../media/idea.png`)).mt-8
