include base.pug

+base()
  +prose()
    +heading() 10k IPs
    +subheading() 2020 - Made in collaboration with Leo El-Azhab and Mai Khaled. Data visualization of the UAE's ISPs and their constituent IP addresses to provoke discussions about net neutrality and security.
    +text() #[a(href='https://bennyboy.tech/ipisp' target='_blank') Website]
      |<br>#[a(href='https://github.com/molarmanful/ipisp' target='_blank') Source]

    +media('ipisp').mt-8
