include base.pug

+base()
  +prose()
    +heading() Laruelle
    +subheading() 2020. Using visualization techniques to gain data-driven insights into Laruelle's Dictionary of Non-Philosophy.
    +text() #[a(href='https://github.com/molarmanful/laruelle' target='_blank') Source]

    +img('laruelle', require(MTINY('laruelle')), require(MEDIA('laruelle'))).mt-8
