include template.pug

+set('title') Let's Hang Out
+set('info') Krita, 2021
+set('desc') For this piece, I decided to explore some darker themes that were sitting in the back of my mind.
+layout('letshangout')
