include base.pug

+base()
  +prose()
    +heading() Mindreader's Digest
    +subheading() 2020. An e-magazine from a hypothetical future in which thought-based communication is made possible via brain implants.
    +text() #[a(href='https://bennyboy.tech/mindreaders-digest' target='_blank') Website] (best viewed with a physical keyboard)
      |<br>#[a(href='https://github.com/molarmanful/mindreaders-digest' target='_blank') Source]

    +media('mindreader.png').mt-8
    +media('mindreader-desc.png').mt-8
    +media('mindreader-article.png').mt-8
