include template.pug

+set('title') Pink Dunes
+set('info') Krita, 2021
+set('desc') Drawn with a mouse. I figured out a way to incorporate variable brush thickness into my mouse-based artwork, and this piece was a showcase of the discovery.
+layout('pinkdunes')
