include base.pug

+base()
  +prose()
    +heading() THE RASTER COLLECTION
    +subheading() Because black & white is fun, but so is color. Drawn with a mouse in Krita/MS Paint.

  +img('blossoms', require(TINY('blossoms')), require(ART('blossoms')))
  +img('foryasmin', require(TINY('foryasmin')), require(ART('foryasmin')))
  +img('kai', require(TINY('kai')), require(ART('kai')))
  +vid().my-8
    iframe.lazy(data-src="https://www.youtube.com/embed/5kqdi0ExSMo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
  +img('skullmap', require(TINY('skullmap')), require(ART('skullmap')))
  +img('pinkdunes', require(TINY('pinkdunes')), require(ART('pinkdunes')))
  +img('insomnia', require(TINY('insomnia')), require(OLD('insomnia')))
  +img('goated', require(TINY('goated')), require(OLD('goated')))
  +img('letshangout', require(TINY('letshangout')), require(OLD('letshangout')))
  +img('jigglyscuff', require(TINY('jigglyscuff')), require(OLD('jigglyscuff')))
  +img('buffkirby', require(TINY('buffkirby')), require(OLD('buffkirby')))
