include base.pug

+base()
  +prose()
    +heading() THE RASTER COLLECTION
    +subheading() Because black & white is fun, but so is color. Drawn with a mouse in Krita/MS Paint.

  +art('blossoms')
  +art('foryasmin')
  +art('kai')
  +vid().my-8
    iframe.lazy(data-src="https://www.youtube.com/embed/5kqdi0ExSMo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
  +art('skullmap')
  +art('pinkdunes')
  +old('insomnia')
  +old('goated')
  +old('letshangout')
  +old('jigglyscuff')
  +old('buffkirby')
