include /items/template.pug

+set('title') UNTITLED (SCREAM)
+set('info') MS Paint, 2020
+set('desc') Drawn with a mouse. I was experimenting with large crosshatches to bring out skin texture and hint at underlying muscle.
+layout('scream')
