include template.pug

+set('title') The Joy of Abstract Art with Rob Boss
+set('info') OpenFrameworks, 2021
+set('desc') A reimagining of #[i The Joy of Painting with Bob Ross] in an alternate universe where Bob Ross is an 20-year old Asian who teaches abstract art over Zoom.
  p.mt-8: a(href='https://github.com/molarmanful/rob-boss' target='_blank') Source Code
  .mt-8.aspect-w-16.aspect-h-9: iframe.m-auto.w-full.h-full.object-contain(src="https://www.youtube.com/embed/f_mWTjxUbqk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
+layout('shapes')
