include base.pug

+base()
  +prose()
    +heading() SIMIAN
    +subheading() 2021. Somewhat Interesting Machine with Intelligence of Artificial Nature, a frontend-only train-your-own-chatbot interface that pushes the limits of what is possible in client-side AI.
    +text() #[a(href='https://bennyboy.tech/simian' target='_blank') Website] (best viewed with a physical keyboard)
      |<br>#[a(href='https://github.com/molarmanful/simian' target='_blank') Source]

    +media('simian.png').mt-8
