include template.pug

+set('title') A Beautiful Complexion
+set('info') Krita, 2021
+set('desc') Drawn with a mouse. Experimenting with directly using a thick brush to render forms as opposed to sketching first.
+layout('skullmap')
