include base.pug

+base()
  +prose()
    +heading() THE VECTOR COLLECTION
    +subheading() Scalable compositions of geometries and abstract oddities. Made with Illustrator and Hexels.

  +art('plane')
  +art('meltdown')
  +art('snowman')
  +art('lama')
  +art('cobra')
  +art('hand2')
  +art('cake')
  +art('weirdface')
  +old('freefall')
