include base.pug

+base()
  +prose()
    +heading() THE VECTOR COLLECTION
    +subheading() Scalable compositions of geometries and abstract oddities. Made with Illustrator and Hexels.

  +img('plane', require(TINY('plane')), require(ART('plane')))
  +img('meltdown', require(TINY('meltdown')), require(ART('meltdown')))
  +img('bang', require(TINY('bang')), require(ART('bang')))
  +img('crow', require(TINY('crow')), require(ART('crow')))
  +img('beetle', require(TINY('beetle')), require(ART('beetle')))
  +img('jellyfish', require(TINY('jellyfish')), require(ART('jellyfish')))
  +img('somanyhands', require(TINY('somanyhands')), require(ART('somanyhands')))
  +img('deepspider', require(TINY('deepspider')), require(ART('deepspider')))
  +img('botfight', require(TINY('botfight')), require(ART('botfight')))
  +img('tpdneoldman', require(TINY('tpdneoldman')), require(ART('tpdneoldman')))
  +img('somerandomwoman', require(TINY('somerandomwoman')), require(ART('somerandomwoman')))
  +img('woman', require(TINY('woman')), require(ART('woman')))
  +img('synthwoman', require(TINY('synthwoman')), require(ART('synthwoman')))
  +img('haringrun', require(TINY('haringrun')), require(ART('haringrun')))
  +img('tvdude', require(TINY('tvdude')), require(ART('tvdude')))
  +img('snowman', require(TINY('snowman')), require(ART('snowman')))
  +img('lama', require(TINY('lama')), require(ART('lama')))
  +img('cobra', require(TINY('cobra')), require(ART('cobra')))
  +img('hand2', require(TINY('hand2')), require(ART('hand2')))
  +img('cake', require(TINY('cake')), require(ART('cake')))
  +img('weirdface', require(TINY('weirdface')), require(ART('weirdface')))
  +img('freefall', require(TINY('freefall')), require(OLD('freefall')))
