include template.pug

+set('title') Wireball
+set('info') Wire, 2021
+set('desc') To create this ball, I used a mix of freeform wire-bending and self-imposed rules/parameters to govern the wire-bending.
+layout('wireball')
