include section.pug

+sec('')#abt.overflow-x-hidden
  .w-full.border-t(class='border-gray-500')
    .px-16.pt-16.w-full.bg-black.text-gray-400.text-l.font-light(class='lg:w-auto lg:text-2xl lg:container')
      h1.text-4xl.mb-12.text-stroked.text-gray-500(class='md:text-5xl lg:text-6xl 2xl:text-8xl' data-aos='fade-in') WHO EVEN IS THIS GUY?

      .pb-32(class='xl:divide-x xl:divide-gray-500 xl:flex')
        .paras(class='xl:w-5/6 xl:ml-4')
          p.text-xl.text-gray-300(class='md:text-2xl lg:text-4xl' data-aos='fade-in')
            | #[span.bold.text-red-50 BENJAMIN PANG] is a primarily self-taught artist / programmer from San Francisco, CA and a graduate student at NYU ITP.
          p(data-aos='fade-in')
            | With a background in software development and the sciences, he mainly deals with interactive installations, multimedia experiences, and CGI/VFX art.
          p(data-aos='fade-in')
            | Drawing influences from a wide variety of classical and contemporary artists, music, digital multimedia, and personal experiences, his work explores sensory confusion, coping mechanisms, and loneliness under the guise of technical experimentation.
          p(data-aos='fade-in')
            | He is currently building odd programming languages, living life, and secretly making art.
          p(data-aos='fade-in')
            | This personal website is open-source! You can view the code #[a.text-gray-100.duration-500.transition-colors(class='hover:text-gray-500' href='https://github.com/molarmanful/molarmanful.github.io' target='_blank') here].

        div(class='xl:w-1/6 xl:ml-8 xl:px-8 xl:mt-0')
          h2.text-2xl.text-stroked.text-gray-500.mb-4(class='md:text-3xl lg:text-5xl' data-aos='fade-left') LINKS
          mixin link(x)
            li: a.text-gray-500.text-underline.duration-500.transition-colors(class='hover:text-white' href=x target='_blank')
              block
          ul.mx-2(data-aos='fade-left')
            +link('https://github.com/molarmanful') Github
            +link('https://instagram.com/bandidojim') Instagram
            +link('https://bandidojim.artstation.com') ArtStation
            +link('https://linkedin.com/in/molarmanful') LinkedIn
            +link('https://society6.com/bandidojim') Society6
            +link('https://codegolf.stackexchange.com/users/41247/mama-fun-roll') PPCG.SE
            +link('https://docs.google.com/document/d/13Hy3akmfz9tvyFH6awZ8riWSCivtYQZa3TE-f_CGszI/edit?usp=sharing') CV
