section.flex.w-screen.divide-x.divide-gray-700#abt
  div.hidden(class='lg:inline-block')
    .vert.pl-4.text-7xl(class='lg:text-9xl') &nbsp;

  .p-16.w-full.bg-black.text-gray-400.text-l.font-light(class='lg:w-auto lg:container lg:text-2xl lg:mb-16')
    h1.text-4xl.mb-8.text-stroked.text-gray-700(class='md:text-5xl lg:text-6xl 2xl:text-8xl' data-aos='fade-in') WHO EVEN IS THIS GUY?

    div(class='xl:divide-x xl:divide-gray-700 xl:flex')
      .paras(class='xl:w-5/6 xl:ml-4')
        p.text-xl.text-gray-300(class='md:text-2xl lg:text-4xl' data-aos='fade-in') I am #[span.bold.text-red-50 BENJAMIN PANG], a primarily self-taught programmer and artist who is currently interested in the bridging of art and technology to create new modes of expression.
        p(data-aos='fade-in') I was born and raised in California's Bay Area and currently reside in Abu Dhabi, UAE for undergraduate studies at NYU Abu Dhabi. First exposed to coding in middle school, I now have #[span.bold(x-text='new Date().getFullYear() - 2014')]+ years of practical programming experience. This experience is supplemented by academic as well as practical training in a variety of skills related to design, art, and engineering. I hope to apply these skills to create meaningful works that address the many issues of our technology-saturated world.
        p(data-aos='fade-in') In my free time, I like running, longboard dancing, making art, playing saxophone, and solving Rubik's Cubes.
        p(data-aos='fade-in') This personal website is open-source! You can view the code #[a.text-gray-100.duration-500.transition-colors(class='hover:text-gray-500' href='https://github.com/molarmanful/molarmanful.github.io' target='_blank') here].

      div(class='xl:w-1/6 xl:ml-8 xl:px-8 xl:mt-0')
        h2.text-2xl.text-gray-700.mb-4(class='md:text-3xl lg:text-5xl' data-aos='fade-left') LINKS
        ul.mx-2(data-aos='fade-left')
          li: a.text-gray-500.duration-500.transition-colors(class='hover:text-white' href='https://github.com/molarmanful' target='_blank') Github
          li: a.text-gray-500.duration-500.transition-colors(class='hover:text-white' href='https://instagram.com/bandidojim' target='_blank') Instagram
          li: a.text-gray-500.duration-500.transition-colors(class='hover:text-white' href='https://society6.com/bandidojim' target='_blank') Society6
          li: a.text-gray-500.duration-500.transition-colors(class='hover:text-white' href='https://linkedin.com/in/molarmanful' target='_blank') LinkedIn
          li: a.text-gray-500.duration-500.transition-colors(class='hover:text-white' href='https://codegolf.stackexchange.com/users/41247/mama-fun-roll' target='_blank') PPCG.SE
          li: a.text-gray-500.duration-500.transition-colors(class='hover:text-white' href='https://docs.google.com/document/d/13Hy3akmfz9tvyFH6awZ8riWSCivtYQZa3TE-f_CGszI/edit?usp=sharing' target='_blank') CV
