::selection {
  @apply bg-current;
  -webkit-text-fill-color: #000;
  text-fill-color: #000;
}

html,
body {
  @apply position-relative bg-black;
}

html {
  @apply scroll-smooth motion-reduce:scroll-auto;
}

body {
  @apply scroll font-2 font-300 tracking-wide select-text text-text type-4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply uppercase font-1;
}

a {
  @apply text-accent duration-500 transition-colors no-underline;
}

a:hover,
a:focus {
  @apply text-white;
}

[scanlines] {
  @apply fixed inset-0 z-100 h-[200lvh] w-[200vw] pointer-events-none bg-blend-multiply mix-blend-screen opacity-30;
  background: repeating-linear-gradient(
      0deg,
      currentColor 0,
      currentColor 1px,
      #000 1px,
      #000 2px
    ),
    repeating-linear-gradient(
      90deg,
      currentColor 0,
      currentColor 1px,
      #000 1px,
      #000 2px
    );
}

:is(.prose, [prose]) :is(h1, h2, h3, h4, h5, h6, p):not([noprose]) {
  @apply mx-6 md:mx-0;
}

:is(.lazy, .laz):not(.loaded) {
  @apply image-render-pixel;
}

.lazy:not(.loaded, [src]) {
  @apply bg-bord-900;
}

[btn] {
  @apply b-(1 current) bg-transparent outline-none px-2 py-1 transition-color whitespace-nowrap;
}

[btn]:focus {
  @apply text-white;
}

[colize] {
  @apply opacity-0;
}

:is([cover]:hover, [cover]:focus) img {
  @apply filter-none;
}

:is([cover]:hover, [cover]:focus) [colize] {
  @apply opacity-0;
}

.suppress {
  @apply transition-none!;
}

@media (hover: hover) {
  [btn]:hover {
    @apply text-white;
  }

  [cover] img {
    filter: grayscale(1) contrast(0.8) brightness(0.5);
  }

  [colize] {
    @apply opacity-80;
  }
}
