include section.pug

+sec('DEV')#dev

  mixin proj(name, url)
    div(data-aos='fade-up')
      a.transition-colors.duration-500.text-gray-500.text-3xl.mr-8(
        class='hover:text-gray-200 md:text-5xl lg:text-7xl'
        href=!url ? `https://bennyboy.tech/${name}` : url == 1 ? `https://github.com/molarmanful/${name}` : url
        target='_blank')= name

  .flex.flex-wrap
    +proj('simian')
    +proj('esmin', 1)
    +proj('infinite_gene_ray', 'https://bennyboy.tech/infinite-gene-ray')
    +proj('mindreaders_digest', 'https://bennyboy.tech/mindreaders-digest')
    +proj('linlang', 'https://github.com/molarmanful/lin')
    +proj('exhibit')
    +proj('laruelle', 1)
    +proj('30mff', 'http://bp1574.nyuadim.com/30mff')
    +proj('idea_comic', 'http://bp1574.nyuadim.com/comic')
    +proj('hot_wok', 'http://bp1574.nyuadim.com/hotwok')
    +proj('botb', 'http://bp1574.nyuadim.com/botb')
    +proj('10k_ips', 'https://github.com/molarmanful/ipisp')
    +proj('symmatrix')
    +proj('higp_final', 'https://bennyboy.tech/higp')
    +proj('pycube', 1)
    +proj('rajchman', 'https://rajchman.org')
    +proj('nextrope', 'https://nextrope.com')
    +proj('codinglang', 1)
    +proj('wonderlang', 'https://github.com/wonderlang')
    +proj('jsasciiart')
    +proj('return', 1)
    +proj('cubetut')
    +proj('gcube', 1)
    +proj('glucca', 1)
    +proj('ಠ_ಠ', 'https://github.com/molarmanful/-_-')
    +proj('minimalistimer')
