header.relative.w-screen.h-screen#top
  .fixed.flex.w-full.h-full
    svg.absolute.bottom-0.right-0.max-w-full(class='max-h-1/2 xl:h-3/4' viewBox='0 0 1587 1080')
      use.text-gray-500.stroke-current.bottom-0(href=require('./media/me.svg') + '#lines' fill='transparent')
    .m-auto.z-10(class='h-1/4 md:h-1/3 lg:w-3/4 lg:h-1/3')
      h1.text-6xl.mb-4.text-white.text-stroked.aberration(class='lg:text-9xl') BEN PANG
      small.text-xl.block.text-gray-200.ml-1(class='lg:text-3xl lg:ml-2') I make
        span.hidden(class='md:inline') &nbsp;
        br(class='md:hidden')
        .inline-flex.overflow-hidden.align-top.transition.duration-500.whitespace-pre.bold(:class='clas' x-text='word') weird
        span.hidden(class='md:inline') &nbsp;
        br(class='md:hidden')
        |things
        span.hidden(class='md:inline') &nbsp;
        br(class='md:hidden')
        |happen.
