doctype html
html.bg-black(
  lang='en'
  x-data='index()')

  head
    include head.pug
    meta(name='description' content='I am a programmer/artist and student currently studying at NYUAD.')
    title Ben Pang

  body.scanlines.scrollbar-thin.scrollbar-thumb-gray-700.font-tri.text-gray-200.font-extralight.select-text.pointer-events-none.bg-black.duration-500.overflow-x-hidden(:class='{"overflow-hidden": selected}')
    script document.body.style.opacity = 0
    include filters.pug

    include nav.pug
    include header.pug
    include about.pug
    include art.pug
    // include dev.pug

    script.
      function index(){
        return {
          selected: '',
          dropped: false,
          iloaded: false,
          iClose(){
            this.selected = ''
            this.iloaded = false
          }
        }
      }
