doctype html
html.bg-black.overflow-x-hidden(
  class='md:overflow-x-visible'
  lang='en'
  x-data='{selected: "", dropped: false, iloaded: false}')

  head
    include head.pug
    meta(name='description' content='I make weird things happen.')
    title Ben Pang

  body.scanlines.scrollbar-thin.scrollbar-thumb-gray-900.font-tri.text-gray-200.font-extralight.select-text.pointer-events-none.bg-black.duration-500
    script document.body.style.opacity = 0

    include nav.pug
    include header.pug
    include art.pug
    include dev.pug
    include about.pug
