doctype html
html.bg-black(lang='en' x-data='index()' :class='{"overflow-hidden": selected}')

  head
    include head.pug
    meta(name='description' content='Programmer/artist and graduate student at NYU ITP.')
    title Ben Pang

  body.scanlines.scrollbar-thin.scrollbar-thumb-gray-700.scrollbar-track-black.font-tri.text-gray-200.font-extralight.select-text.pointer-events-none.bg-black.duration-500.overflow-x-hidden(:class='{"overflow-hidden": selected}')
    script document.body.style.opacity = 0
    div.hidden.object-contain.aspect-w-16.aspect-h-9
    include filters.pug

    include nav.pug
    include header.pug
    include about.pug
    include art.pug